@charset "UTF-8";
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, p, table, tr, td, form, dl, dt, dd, a, img, span, strong, em, b, i, label, input, select, option, textarea {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none; }

a:hover {
  color: #006bb4; }

img {
  border: 0;
  vertical-align: top; }

em, i {
  font-style: normal; }

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: normal; }

input, textarea, select, area {
  outline: none;
  /*高亮*/ }

/*功能*/
.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.overflow {
  overflow: hidden; }

.overflowText {
  overflow: hidden;
  text-indent: -99em; }

body {
  font-family: "微软雅黑";
  font-size: 14px; }

.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.slider {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .slider .slider-ppt {
    position: relative; }
    .slider .slider-ppt li {
      position: absolute;
      left: 0;
      top: 0; }

.above {
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden; }
  .above .logo {
    position: absolute;
    left: 60px;
    top: 40px;
    width: 118px;
    height: 80px;
    background: url(../images/btn.png) no-repeat; }
  .above .time {
    position: absolute;
    width: 370px;
    height: 65px;
    left: 206px;
    top: 297px;
    background: url(../images/btn.png) 0 -90px no-repeat; }
  .above > h4 {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 358px;
    height: 88px;
    left: 206px;
    top: 386px;
    border-bottom: 1px #fff solid; }
  .above .discribe {
    position: absolute;
    color: white;
    font-size: 18px;
    line-height: 36px;
    left: 206px;
    top: 495px; }
  .above .nav {
    position: absolute;
    top: 40px;
    right: -707px;
    display: none; }
    .above .nav li {
      float: left;
      width: 101px;
      background: #000;
      text-align: center;
      line-height: 25px; }
      .above .nav li a {
        color: #5c5c5c; }
      .above .nav li a:hover {
        color: white; }
  .above .nav-btn {
    position: absolute;
    right: 0;
    top: 40px;
    width: 90px;
    height: 25px;
    background: url(../images/btn.png) -44px -178px no-repeat;
    cursor: pointer; }
  .above .search {
    overflow: hidden;
    position: absolute;
    right: 44px;
    top: 93px;
    width: 168px;
    height: 23px; }
  .above #search-text {
    display: none;
    position: absolute;
    left: 360px;
    width: 140px;
    height: 20px;
    border: 1px #595656 solid;
    background: transparent;
    color: white;
    padding-left: 5px; }
  .above #search-btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 23px;
    width: 23px;
    border: 0;
    background: url(../images/btn.png) 0 -181px no-repeat;
    cursor: pointer; }
  .above .mouse {
    position: absolute;
    bottom: 0px;
    height: 55px;
    width: 55px;
    left: 50%;
    margin-left: -27px;
    background: url(../images/btn.png) -134px -12px no-repeat;
    animation: mousemove 0.8s linear infinite alternate; }

@keyframes mousemove {
  from {
    bottom: 0px; }
  to {
    bottom: 10px; } }

.mid {
  background: #000;
  margin-top: 945px;
  margin-bottom: 1000px;
  position: relative;
  z-index: 20; }
  .mid .layer {
    box-sizing: border-box;
    width: 1220px;
    margin: 0 auto;
    height: 510px;
    padding: 48px 0; }
    .mid .layer .mid-content .MR0 {
      margin-right: 0; }
    .mid .layer .mid-content li {
      overflow: hidden;
      float: left;
      position: relative;
      height: 190px;
      width: 390px;
      margin: 0 15px 15px 0; }
      .mid .layer .mid-content li a {
        display: block;
        color: white; }
        .mid .layer .mid-content li a .group {
          position: absolute;
          left: 0;
          top: 0;
          height: 190px;
          width: 390px;
          text-align: center; }
          .mid .layer .mid-content li a .group h5 {
            font-size: 24px;
            margin-top: 69px; }
          .mid .layer .mid-content li a .group span {
            font-size: 18px;
            font-weight: bold; }
          .mid .layer .mid-content li a .group p {
            display: none;
            height: 24px;
            width: 74px;
            background: url(../images/footer-see.png);
            margin: 20px auto 0;
            line-height: 24px;
            text-align: left;
            padding-left: 22px; }
        .mid .layer .mid-content li a .playc {
          position: absolute;
          left: 50%;
          margin-left: -40px;
          top: 50%;
          margin-top: -57px;
          height: 113px;
          width: 79px;
          background: url(../images/btn.png) -4px -217px no-repeat; }
      .mid .layer .mid-content li a:hover {
        color: white; }

.footer {
  position: relative;
  background: #000000;
  z-index: 50; }
  .footer .footer-logo {
    float: left;
    margin: 11px 0 0 23px;
    padding-bottom: 14px;
    width: 122px;
    height: 36px;
    background: url(../images/footer-logo.png) no-repeat; }
  .footer .footer-nav {
    float: left;
    margin: 14px 0 0 214px; }
    .footer .footer-nav li {
      float: left;
      border-left: 1px #565656 solid;
      height: 32px;
      padding-left: 18px;
      margin-right: 59px; }
      .footer .footer-nav li a {
        color: #e9e9e9;
        font-size: 14px; }
  .footer .contact {
    float: right;
    color: white;
    margin-top: 14px;
    padding-left: 39px;
    margin-right: 31px;
    background: url(../images/btn.png) -300px -21px no-repeat; }
    .footer .contact p {
      float: left; }
      .footer .contact p span {
        color: #666666; }
    .footer .contact a {
      float: left;
      width: 36px;
      height: 36px; }
    .footer .contact .contact-qq {
      background: url(../images/btn.png) -204px -21px no-repeat;
      margin-left: 55px;
      margin-right: 1px; }
    .footer .contact .contact-wx {
      background: url(../images/btn.png) -242px -21px no-repeat; }

@media (max-width: 1600px) {
  .footer .footer-logo {
    float: none;
    display: block;
    margin: 5px auto; }
  .footer .footer-nav {
    float: none;
    display: block;
    width: 800px;
    margin: 5px auto; }
  .footer .contact {
    float: none;
    width: 400px;
    display: block;
    margin: 5px auto; } }

@media (max-width: 1260px) {
  .mid .layer {
    width: 810px;
    height: 710px; }
  .above .time {
    left: 156px; }
  .above > h4 {
    left: 156px; }
  .above .discribe {
    left: 156px; } }

@media (max-width: 980px) {
  .above .time {
    left: 86px; }
  .above > h4 {
    left: 86px; }
  .above .discribe {
    left: 86px; } }

@media (max-width: 850px) {
  .footer .footer-nav {
    width: 525px; }
  .footer .footer-nav li {
    margin-right: 15px;
    padding-left: 15px;
    height: auto; } }

@media (max-width: 835px) {
  .mid .layer {
    width: 405px;
    height: 1325px; }
  .above .nav {
    width: 260px;
    height: 100%; } }

@media (max-width: 570px) {
  .footer .footer-nav {
    width: auto; }
  .footer .footer-nav li {
    margin-top: 10px; }
  .footer .contact p {
    float: none;
    display: block;
    margin-bottom: 5px; }
  .footer .contact {
    width: 250px; }
  .footer .contact .contact-qq {
    margin-left: 20%;
    margin-right: 50px; }
  .above .time {
    left: 36px; }
  .above > h4 {
    left: 36px; }
  .above .discribe {
    left: 36px; } }

@media (max-width: 530px) {
  .footer .footer-nav {
    width: 300px; }
    .footer .footer-nav > :nth-child(4) {
      margin-left: 28px; } }

@media (max-width: 420px) {
  .above .time {
    left: 0px; }
  .above > h4 {
    left: 0px; }
  .above .discribe {
    left: 0px; } }

.aboutus-footer {
  position: absolute;
  bottom: 0;
  width: 100%; }

.Aboutus-mian {
  position: fixed;
  z-index: 10;
  left: 50%;
  margin-left: -540px;
  top: 50%;
  margin-top: -159px; }
  .Aboutus-mian li {
    float: left;
    position: relative;
    padding: 12px;
    margin-right: 34px;
    background: rgba(0, 0, 0, 0.6); }
    .Aboutus-mian li a {
      font-family: Arial;
      color: white; }
      .Aboutus-mian li a img {
        transition: transform 1s; }
      .Aboutus-mian li a .imgflip {
        transform: rotateY(180deg); }
      .Aboutus-mian li a h4 {
        font-size: 18px;
        line-height: 30px;
        margin-top: 9px;
        line-height: 24px;
        margin-bottom: 12px; }
      .Aboutus-mian li a p {
        font-size: 36px;
        font-weight: bold; }
        .Aboutus-mian li a p span {
          display: block;
          font-size: 18px;
          font-weight: normal;
          margin-bottom: 12px; }
      .Aboutus-mian li a .mask {
        position: absolute;
        left: 12px;
        top: 12px;
        height: 198px;
        width: 314px;
        background: rgba(0, 0, 0, 0.4); }
        .Aboutus-mian li a .mask p {
          position: absolute;
          left: 50%;
          top: 50%;
          height: 88px;
          width: 88px;
          margin-left: -44px;
          margin-top: -44px;
          background: url(../images/btn.png) -4px -217px no-repeat; }
    .Aboutus-mian li a:hover {
      color: white; }

.culture-pop {
  position: fixed;
  box-sizing: border-box;
  z-index: 50;
  width: 1200px;
  height: 502px;
  left: 50%;
  top: 50%;
  margin-left: -600px;
  margin-top: -251px;
  background: #ffffff;
  padding: 26px; }
  .culture-pop .slider-aboutus {
    position: relative;
    float: left; }
    .culture-pop .slider-aboutus li {
      position: absolute;
      left: 0;
      top: 0; }
      .culture-pop .slider-aboutus li img {
        display: block;
        width: 450px;
        height: 450px; }
  .culture-pop .culture-pop-right {
    float: right;
    width: 600px;
    height: 455px;
    padding-right: 55px;
    overflow-y: auto; }
    .culture-pop .culture-pop-right h5 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 12px; }
    .culture-pop .culture-pop-right span {
      display: block;
      font-size: 18px;
      line-height: 30px; }
    .culture-pop .culture-pop-right p {
      text-indent: 2em;
      font-size: 14px;
      line-height: 30px;
      color: #878787; }
  .culture-pop .close-pop {
    position: absolute;
    box-sizing: border-box;
    width: 53px;
    height: 53px;
    top: -53px;
    border: 1px solid #fff;
    right: 0;
    cursor: pointer; }
  .culture-pop .close-pop:before {
    position: absolute;
    content: " ";
    display: block;
    width: 1px;
    height: 44px;
    left: 50%;
    top: 5px;
    background: #fff;
    transform-origin: 50% 50%;
    transform: rotate(45deg); }
  .culture-pop .close-pop:after {
    position: absolute;
    content: " ";
    display: block;
    width: 1px;
    height: 44px;
    left: 50%;
    top: 5px;
    background: #fff;
    transform-origin: 50% 50%;
    transform: rotate(-45deg); }
  .culture-pop b {
    position: absolute;
    height: 35px;
    width: 19px;
    top: 234px;
    cursor: pointer; }
  .culture-pop .btn-left {
    background: url(../images/aboutus-slider-btn.png) no-repeat;
    left: 26px; }
  .culture-pop .btn-right {
    background: url(../images/aboutus-slider-btn.png) -19px 0 no-repeat;
    left: 457px; }

.about-pop {
  position: fixed;
  box-sizing: border-box;
  z-index: 50;
  width: 1200px;
  height: 502px;
  left: 50%;
  top: 50%;
  margin-left: -600px;
  margin-top: -251px;
  background: #ffffff;
  padding: 26px; }
  .about-pop .slider-aboutus {
    position: relative;
    float: left; }
    .about-pop .slider-aboutus li {
      position: absolute;
      left: 0;
      top: 0; }
      .about-pop .slider-aboutus li img {
        display: block;
        width: 450px;
        height: 450px; }
  .about-pop .culture-pop-right {
    float: right;
    width: 600px;
    height: 455px;
    padding-right: 55px;
    overflow-y: auto; }
    .about-pop .culture-pop-right h5 {
      float: left;
      font-size: 16px;
      line-height: 46px;
      width: 155px;
      margin-right: 2px;
      background: #e4e4e4;
      color: #000000;
      text-align: center;
      margin-bottom: 38px;
      cursor: pointer; }
    .about-pop .culture-pop-right h5:hover {
      background: #000;
      color: white; }
    .about-pop .culture-pop-right .checked {
      background: #000;
      color: white; }
    .about-pop .culture-pop-right p {
      font-size: 14px;
      line-height: 30px;
      color: #878787; }
  .about-pop .close-pop {
    position: absolute;
    box-sizing: border-box;
    width: 53px;
    height: 53px;
    top: -53px;
    border: 1px solid #fff;
    right: 0;
    cursor: pointer; }
  .about-pop .close-pop:before {
    position: absolute;
    content: " ";
    display: block;
    width: 1px;
    height: 44px;
    left: 50%;
    top: 5px;
    background: #fff;
    transform-origin: 50% 50%;
    transform: rotate(45deg); }
  .about-pop .close-pop:after {
    position: absolute;
    content: " ";
    display: block;
    width: 1px;
    height: 44px;
    left: 50%;
    top: 5px;
    background: #fff;
    transform-origin: 50% 50%;
    transform: rotate(-45deg); }
  .about-pop b {
    position: absolute;
    height: 35px;
    width: 19px;
    top: 234px;
    cursor: pointer; }
  .about-pop .btn-left {
    background: url(../images/aboutus-slider-btn.png) no-repeat;
    left: 26px; }
  .about-pop .btn-right {
    background: url(../images/aboutus-slider-btn.png) -19px 0 no-repeat;
    left: 457px; }

@media (max-width: 1180px) {
  .Aboutus-mian li a img {
    width: 278px; }
  .Aboutus-mian {
    margin-left: -500px; }
  .Aboutus-mian li a .mask {
    width: 278px;
    height: 175px; } }

@media (max-width: 1026px) {
  .Aboutus-mian li a img {
    width: 238px; }
  .Aboutus-mian {
    margin-left: -410px; }
  .Aboutus-mian li {
    margin-right: 14px; }
  .Aboutus-mian li a .mask {
    width: 238px;
    height: 150px; } }

@media (max-width: 868px) {
  .Aboutus-mian li a img {
    width: 194px; }
  .Aboutus-mian {
    margin-left: -335px; }
  .Aboutus-mian li {
    margin-right: 10px; }
  .Aboutus-mian li a .mask {
    width: 194px;
    height: 122px; }
  .Aboutus-mian li a .mask p {
    margin-top: -21px;
    margin-left: -21px;
    width: 42px;
    height: 42px;
    background: url(../images/btn.png) -2px -107px no-repeat/187px auto; } }

@media (max-width: 720px) {
  .above .nav {
    top: 140px; }
  .above .nav-btn {
    top: 140px; }
  .above .search {
    top: 193px; }
  .Aboutus-mian li a img {
    width: 150px; }
  .Aboutus-mian {
    margin-left: -265px; }
  .Aboutus-mian li {
    margin-right: 5px; }
  .Aboutus-mian li a .mask {
    width: 150px;
    height: 95px; }
  .Aboutus-mian li a p {
    font-size: 18px; }
  .Aboutus-mian li a p span {
    font-size: 12px; }
  .Aboutus-mian li a h4 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 2px; } }

@media (max-width: 578px) {
  .Aboutus-mian li a img {
    width: 100px; }
  .Aboutus-mian {
    margin-left: -170px;
    margin-top: -130px; }
  .Aboutus-mian li {
    margin-right: 5px;
    padding: 5px; }
  .Aboutus-mian li a .mask {
    top: 5px;
    left: 5px;
    width: 100px;
    height: 63px; }
  .Aboutus-mian li a p {
    font-size: 12px; }
  .Aboutus-mian li a p span {
    font-size: 12px; }
  .Aboutus-mian li a h4 {
    font-size: 12px;
    margin-bottom: 3px;
    margin-top: 1px; }
  .above .logo {
    left: 30px; } }

@media (max-width: 578px) {
  .Aboutus-mian li {
    margin-right: 2px;
    padding: 2px; }
  .Aboutus-mian li a .mask {
    left: 2px;
    top: 2px; }
  .Aboutus-mian {
    margin-left: -160px; } }

@media (max-width: 1234px) {
  .culture-pop {
    width: 700px;
    overflow-y: auto;
    margin-left: -350px; }
  .culture-pop .slider-aboutus {
    float: none;
    display: block; }
  .culture-pop .culture-pop-right {
    float: none;
    display: block;
    margin-top: 450px; }
  .about-pop {
    width: 700px;
    overflow-y: auto;
    margin-left: -350px; }
  .about-pop .culture-pop-right {
    float: none;
    display: block;
    margin-top: 480px; }
  .about-pop .close-pop {
    transform: scale(0.5, 0.5);
    right: -13px;
    top: -13px;
    border-color: #000; }
  .about-pop .close-pop:before {
    background: #000; }
  .about-pop .close-pop:after {
    background: #000; }
  .culture-pop .close-pop {
    transform: scale(0.5, 0.5);
    right: -13px;
    top: -13px;
    border-color: #000; }
  .culture-pop .close-pop:before {
    background: #000; }
  .culture-pop .close-pop:after {
    background: #000; } }

@media (max-width: 712px) {
  .culture-pop {
    width: 400px;
    overflow-y: auto;
    margin-left: -200px; }
  .culture-pop .culture-pop-right {
    width: 350px;
    padding: 0; }
  .culture-pop .culture-pop-right h5 {
    font-size: 24px; }
  .culture-pop .slider-aboutus li img {
    width: 320px;
    height: 320px; }
  .culture-pop .btn-left {
    top: 165px; }
  .culture-pop .btn-right {
    top: 165px;
    left: 327px; }
  .about-pop {
    width: 400px;
    overflow-y: auto;
    margin-left: -200px; }
  .about-pop .culture-pop-right {
    width: 350px;
    padding: 0;
    margin-top: 480px; }
  .about-pop .slider-aboutus li img {
    width: 320px;
    height: 320px; }
  .about-pop .btn-left {
    top: 165px; }
  .about-pop .btn-right {
    top: 165px;
    left: 327px; } }

.brand-top {
  width: auto;
  position: fixed;
  z-index: 20;
  left: 50%;
  margin-left: -485px;
  top: 50%;
  margin-top: -290px; }
  .brand-top .brand-main-nav li {
    float: left;
    width: 71px;
    height: 27px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
    text-align: center; }
  .brand-top .brand-main-nav .checked {
    background: url(../images/brand-navbg.png) no-repeat;
    color: #000; }
  .brand-top .brand-main-nav li:hover {
    background: url(../images/brand-navbg.png) no-repeat;
    color: #000; }

.brand-main {
  position: fixed;
  z-index: 20;
  width: 1246px;
  height: 480px;
  top: 50%;
  margin-top: -230px;
  left: 50%;
  margin-left: -605px;
  overflow: hidden; }
  .brand-main ul {
    padding: 10px 18px; }
    .brand-main ul li {
      float: left;
      position: relative;
      margin-right: 6px;
      margin-bottom: 6px;
      height: 146px;
      width: 235px; }
      .brand-main ul li img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
    .brand-main ul .z-index50 {
      z-index: 50; }
    .brand-main ul p {
      position: absolute;
      text-align: center;
      color: white;
      width: 235px;
      height: 34px;
      line-height: 34px;
      background: url(../images/brand-main-bg.png) no-repeat;
      bottom: 0px;
      display: none; }

.brand-move-btn {
  position: fixed;
  z-index: 20;
  left: 50%;
  margin-left: -37px;
  top: 50%;
  margin-top: 264px; }
  .brand-move-btn .previous {
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 4px;
    background: url(../images/brand-arrow.png) no-repeat; }
  .brand-move-btn .previous:hover {
    background: url(../images/brand-arrow.png) 0 -70px no-repeat; }
  .brand-move-btn .later {
    float: left;
    width: 35px;
    height: 35px;
    background: url(../images/brand-arrow.png) 0 -35px no-repeat; }
  .brand-move-btn .later:hover {
    background: url(../images/brand-arrow.png) 0 -105px no-repeat; }

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2; }

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1; }

/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s; }

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width; }

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity; }

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s; }

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.brand-slide-up {
  top: 100%;
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100%; }
  .brand-slide-up .upper {
    height: 25%;
    background: rgba(0, 0, 0, 0.8);
    position: relative; }
    .brand-slide-up .upper .sliderdown {
      position: absolute;
      height: 50px;
      width: 50px;
      background: url(../images/brand-sliderdown.png) no-repeat;
      bottom: -1px;
      left: 50%;
      margin-left: 540px; }
  .brand-slide-up .main {
    background: #fff;
    width: 100%;
    height: 75%; }
    .brand-slide-up .main .layer {
      width: 1200px;
      margin: 0 auto;
      height: 75%; }
      .brand-slide-up .main .layer .logo {
        float: left;
        margin-top: 50px;
        width: 282px; }
      .brand-slide-up .main .layer .right {
        float: right;
        height: 100%;
        padding-left: 35px;
        padding-top: 58px;
        border-left: 1px #d5d5d5 solid; }
        .brand-slide-up .main .layer .right .pic li {
          float: left;
          margin-bottom: 34px;
          margin-right: 10px; }
          .brand-slide-up .main .layer .right .pic li img {
            width: 280px; }
        .brand-slide-up .main .layer .right p {
          width: 866px;
          font-size: 14px;
          line-height: 24px;
          color: #666666; }

@media (max-width: 1288px) {
  .brand-main-nav {
    white-space: nowrap;
    text-align: center;
    width: 988px; }
  .brand-top .brand-main-nav li {
    display: inline-block; }
  .brand-main {
    width: 1011px;
    margin-left: -495px; } }

@media (max-width: 1032px) {
  .brand-top {
    width: 900px;
    overflow-x: auto;
    margin-left: -445px; } }

@media (max-width: 988px) {
  .brand-main {
    width: 766px;
    margin-left: -380px; }
  .brand-top {
    width: 750px;
    overflow-x: auto;
    margin-left: -375px; } }

@media (max-width: 775px) {
  .brand-main {
    width: 524px;
    margin-left: -250px;
    height: 311px;
    margin-top: -125px; }
  .brand-top {
    width: 450px;
    margin-left: -223px;
    margin-top: -200px; }
  .brand-move-btn {
    margin-top: 200px; } }

@media (max-width: 536px) {
  .brand-main {
    width: 288px;
    margin-left: -135px;
    height: 311px;
    margin-top: -125px; }
  .brand-top {
    width: 288px;
    margin-left: -135px;
    margin-top: -200px; } }

@media (max-width: 1240px) {
  .brand-slide-up .main .layer {
    width: 90%; }
  .brand-slide-up .main .layer .logo {
    float: none;
    display: block;
    margin: 0 auto; }
  .brand-slide-up .main .layer .right {
    float: none;
    display: block; }
  .brand-slide-up .upper .sliderdown {
    margin-left: 40%; } }

@media (max-width: 1040px) {
  .brand-slide-up .main .layer .right {
    padding: 0;
    border: 0; }
  .brand-slide-up .main .layer .right .pic li {
    margin-right: 5px; } }

@media (max-width: 950px) {
  .brand-slide-up .main .layer {
    width: 100%; }
  .brand-slide-up .main .layer .right {
    margin: 0 auto;
    width: 95%; }
  .brand-slide-up .main .layer .right p {
    width: 850px; } }

@media (max-width: 950px) {
  .brand-slide-up .main {
    overflow-y: auto; }
  .brand-slide-up .main .layer .right {
    width: 620px;
    margin: 0 auto; }
  .brand-slide-up .main .layer .right .pic li img {
    width: 200px; }
  .brand-slide-up .main .layer .right p {
    width: 600px;
    margin: 0 auto; } }

@media (max-width: 650px) {
  .brand-slide-up .main .layer .right {
    width: 440px; }
  .brand-slide-up .main .layer .right .pic li img {
    width: 140px; }
  .brand-slide-up .main .layer .right p {
    width: 420px; }
  .brand-slide-up .upper .sliderdown {
    margin-left: 30%; } }

@media (max-width: 450px) {
  .brand-slide-up .main .layer .right {
    width: 320px; }
  .brand-slide-up .main .layer .right .pic li img {
    width: 100px; }
  .brand-slide-up .main .layer .right p {
    width: 300px; }
  .brand-slide-up .upper .sliderdown {
    margin-left: 30%; } }

.contactus-main {
  position: fixed;
  z-index: 50;
  width: 1200px;
  height: 590px;
  top: 50%;
  left: 50%;
  margin-left: -600px;
  margin-top: -295px; }
  .contactus-main .tab {
    height: 40px; }
    .contactus-main .tab li {
      float: left;
      background: #999;
      width: 168px;
      height: 40px;
      margin-right: 1px;
      text-align: center;
      line-height: 40px;
      cursor: pointer; }
    .contactus-main .tab .selected {
      background: #ebebeb; }
  .contactus-main .contactus-content {
    background: #ebebeb;
    padding: 48px 0 0 61px;
    height: 550px;
    box-sizing: border-box;
    overflow-y: auto; }
    .contactus-main .contactus-content .contactus-left {
      float: left; }
    .contactus-main .contactus-content .contactus-right {
      float: right;
      padding-right: 350px;
      line-height: 24px;
      font-size: 14px; }
      .contactus-main .contactus-content .contactus-right span {
        display: block;
        color: #999999; }
      .contactus-main .contactus-content .contactus-right .mb21 {
        margin-bottom: 21px; }

@media (max-width: 1250px) {
  .contactus-main {
    width: 900px;
    margin-left: -450px; }
  .contactus-main .contactus-content .contactus-right {
    padding-right: 50px; } }

@media (max-width: 920px) {
  .contactus-main {
    width: 600px;
    margin-left: -300px; }
  .contactus-main .contactus-content {
    padding: 0; }
  .contactus-main .contactus-content .contactus-left {
    float: none;
    display: block;
    margin: 40px auto;
    width: 370px; }
  .contactus-main .contactus-content .contactus-right {
    float: none;
    display: block;
    padding: 0;
    margin-left: 107px;
    width: 385px; } }

.joinus-main {
  position: fixed;
  z-index: 20;
  width: 1200px;
  left: 50%;
  margin-left: -600px;
  top: 50%;
  margin-top: -295px; }
  .joinus-main .joinus-tab {
    width: 168px;
    background: #fff;
    line-height: 40px;
    text-align: center; }
  .joinus-main .joinus-content {
    box-sizing: border-box;
    height: 550px;
    width: 1200px;
    background: #fff;
    padding: 21px 24px 21px 32px;
    position: relative; }
    .joinus-main .joinus-content .joinus-content-left {
      float: left; }
      .joinus-main .joinus-content .joinus-content-left .province {
        width: 206px;
        line-height: 30px;
        margin-top: 21px; }
        .joinus-main .joinus-content .joinus-content-left .province span {
          height: 28px;
          float: left;
          padding-left: 12px;
          border: 1px #999999 solid;
          border-right: 0;
          width: 163px;
          color: #999999; }
        .joinus-main .joinus-content .joinus-content-left .province i {
          float: right;
          height: 30px;
          width: 30px;
          background: url(../images/joinus-btn.png) 0 0 no-repeat; }
      .joinus-main .joinus-content .joinus-content-left .city {
        width: 206px;
        line-height: 30px;
        margin-top: 6px;
        margin-bottom: 12px; }
        .joinus-main .joinus-content .joinus-content-left .city span {
          height: 28px;
          float: left;
          padding-left: 12px;
          border: 1px #999999 solid;
          border-right: 0;
          width: 163px;
          color: #999999; }
        .joinus-main .joinus-content .joinus-content-left .city i {
          float: right;
          height: 30px;
          width: 30px;
          background: url(../images/joinus-btn.png) 0 0 no-repeat; }
      .joinus-main .joinus-content .joinus-content-left .store {
        padding-top: 10px;
        border-top: 1px #999 solid; }
        .joinus-main .joinus-content .joinus-content-left .store li {
          line-height: 14px;
          padding-left: 12px;
          background: url(../images/joinus-btn.png) -106px -22px no-repeat;
          margin: 8px 0 8px 0;
          cursor: pointer; }
        .joinus-main .joinus-content .joinus-content-left .store li:hover {
          text-decoration: underline; }
    .joinus-main .joinus-content .joinus-content-right {
      float: right;
      position: relative; }
      .joinus-main .joinus-content .joinus-content-right .joinus-slider {
        position: relative;
        width: 902px;
        height: 508px; }
        .joinus-main .joinus-content .joinus-content-right .joinus-slider li {
          position: absolute;
          left: 0;
          top: 0; }
          .joinus-main .joinus-content .joinus-content-right .joinus-slider li img {
            width: 902px;
            height: 508px; }
      .joinus-main .joinus-content .joinus-content-right .joinus-left-btn {
        position: absolute;
        width: 38px;
        height: 60px;
        background: url(../images/joinus-btn.png) -68px 0 no-repeat;
        left: 0;
        top: 50%;
        margin-top: -60px;
        cursor: pointer; }
      .joinus-main .joinus-content .joinus-content-right .joinus-right-btn {
        position: absolute;
        width: 38px;
        height: 60px;
        background: url(../images/joinus-btn.png) -68px -60px no-repeat;
        right: 0;
        top: 50%;
        margin-top: -60px;
        cursor: pointer; }
      .joinus-main .joinus-content .joinus-content-right .joinus-left-btn:hover {
        background: url(../images/joinus-btn.png) -30px 0 no-repeat; }
      .joinus-main .joinus-content .joinus-content-right .joinus-right-btn:hover {
        background: url(../images/joinus-btn.png) -30px -60px no-repeat; }
      .joinus-main .joinus-content .joinus-content-right .detail-address {
        box-sizing: border-box;
        position: absolute;
        width: 894px;
        height: 193px;
        background: #fff;
        left: 4px;
        bottom: 4px;
        padding: 26px 32px; }
        .joinus-main .joinus-content .joinus-content-right .detail-address h4 {
          padding-left: 12px;
          background: url(../images/joinus-btn.png) -106px -22px no-repeat;
          line-height: 16px;
          margin-bottom: 11px; }
        .joinus-main .joinus-content .joinus-content-right .detail-address p {
          color: #666666;
          padding-left: 12px;
          border-top: 1px #666666 solid;
          padding-top: 14px; }
        .joinus-main .joinus-content .joinus-content-right .detail-address span {
          position: absolute;
          width: 16px;
          height: 23px;
          background: url(../images/joinus-btn.png) -106px 0 no-repeat;
          bottom: 9px;
          right: 12px; }
