
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,p,table,tr,td,form,dl,dt,dd,a,img,span,strong,em,b,i,label,input,select,option,textarea{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a{color: #000; text-decoration: none;}
a:hover{color:#b5b5b5;}
img{border: 0; vertical-align: top;}
em,i{font-style: normal;}
h1,h2,h3,h4,h5,h6,strong,b{font-weight: normal;}
input,textarea,select,area{outline: none;/*高亮*/}


.clearfix:before,.clearfix:after{content: " "; display: table;}
.clearfix:after{clear:both;}
.FL{float:left;}
.FR{float:right;}

.ellipsis{ white-space: nowrap; overflow:hidden; text-overflow:ellipsis;}

.overflow{overflow:hidden;}
.overflowText{overflow: hidden; text-indent:-99em; }

body{ font-family: "微软雅黑"; font-size: 14px; }


.layer{
    width: 1200px;
    margin: 0 auto;
}

.header{
    height: 400px;
    width: 100%;
    margin: 0 auto;
    background: url(../images/out-seebg.jpg) top center no-repeat;
}

.section{
    position: relative;
    .news{
        position: absolute;
        top: -95px;
        dl{
            dt{
                background: #000;
                height: 95px;
                //width: 250px;
                color: white;
                padding-left: 25px;
                h2{
                    font-size: 32px;
                    font-weight: bold;
                    margin-top: 36px;
                    line-height: 32px;
                }
                span{
                    font-size: 14px;
                }
            }
            dd{
                padding-left: 25px;
                background: #ececec;
                height: 64px;
                position: relative;
                
             
            }
            &>:nth-child(2){
                 
                    padding-top: 36px;
                    color: #b5b5b5;
                }
            &>:nth-child(3){
                    padding-top:26px ;
                    color: #000;
                }
            &:after{
                    position: absolute;
                    display: block;
                    top: 154px;
                    left: 25px;
                    content: "";
                    width: 200px;
                    height: 1px;
                    background:#d0d0d0;
                } 
            &:before{
                    position: absolute;
                    display: block;
                    top: 209px;
                    left: 25px;
                    content: "";
                    width: 200px;
                    height: 1px;
                    background:#d0d0d0;
                    z-index: 5;
                }     
        }
        .advertisement{
           display: block;
           margin-top: 14px;
        }
            
    }
    .content{
        float: right;
        //width: 900px;
        .nav{
            color:#c2c2c2;
            margin-left: 680px;
            margin-top: 50px;
            li{
                float: left;
            }
        }
         .main{
            margin-top:46px;
            border-bottom: 1px solid #fbfbfb;
            li{
                float: left;
                margin-bottom: 42px;
                a{display: block;}
            }
            
            &>:nth-child(1){
                width: 320px;
                float: left;
                overflow: hidden;
            }
            &>:nth-child(2){
                width: 536px;
                float: right;
                margin-left: 44px;
                overflow: hidden;
                dd{overflow: hidden;}
                h4{
                    color: #999db2;
                    margin-bottom: 10px;
                }
                span{
                    display: block;
                    color: #c0c3d3;
                    margin-bottom:20px;
                }
                p{
                    color: #babecf;
                    text-align: justify;
                    line-height: 24px;
                    margin-bottom: 10px;
                    height: 90px;
                }
                dd{
                    position: relative;
                    a{
                        display: block;
                        position: relative;
                        width: 106px;
                        height: 25px;
                        border: 1px #000000 solid;
                        line-height: 23px;
                        padding-left: 12px;
                        background: url(../images/out-see-st01.jpg) top right no-repeat;
                        
                        
                    }
                }
            }
        }
    }
}

.page{
    .list{
        margin-left: 300px;
        margin-top: 14px;
        margin-bottom: 70px;
        a{
            display: inline-block;
            border: 1px solid #8c8c8c;
            color: #8c8c8c;
            height: 28px;
            width:28px;
            line-height: 28px;
            text-align: center;
            &:hover{
                background: #8c8c8c;
                color: white;
            }
        }
    }
}
.footer{
    width: 100%;
    margin: 0 auto;
    background: #000000;
    .footer-left{
        float: left;
        .footer-logo{
            float: left;
            width: 125px;
            height: 40px;
            background: url(../images/footer-logo.jpg) top center no-repeat;
            margin-left: 22px;
            margin-top: 9px;
        }
        .footer-nav{
            float: left;
            overflow: hidden;
            margin-left: 212px;
            margin-top: 14px;
            li{
                float: left;
                
                a{
                    display: block;
                    color: white;
                    padding-left: 19px;
                    padding-bottom: 20px;
                    padding-right: 55px;
                    border-left: 1px #1d1d1d solid;
                }
                
            }
            
        }
       
    }
    .footer-contact{
        float: right;
        margin-top: 13px;
        margin-right: 10px;
        p{
            float: left;
            color:#5e5e5e;
            background: url(../images/footer-phone.jpg)left top no-repeat;            
            padding-left: 40px;
            i{
                color: #333333;
            }
        }
        &>:nth-child(2){
            float: right;
            width: 36px;
            height: 36px;
            background: url(../images/footer-weibo.png) top center no-repeat;
            margin-left: 4px;
        }
         &>:nth-child(3){
            float: right;
            width: 36px;
            height: 36px;
            margin-left: 56px;
            background: url(../images/footer-phone.png) top center no-repeat;
            
        }
    }
}

  




@media  (max-width:1220px){
    .layer{
        width: 75%;
    }
    .section{
        .content{
            float: left;
            width: 100%;
            .nav{
                margin-top:440px;
                margin-left: 70%;
            }
            .main{
                
                &>:nth-child(2){
                width: 50%;
                }
                
            }
        }
    }
    .page{
        .layer{
            .list{
                display: block;
                margin: 0 auto 70px auto;
                width: 220px;
            }
        }
    }
}
@media  (max-width:1024px){
    .layer{
        width: 90%;
    }
    .section{
        .content{
            float: left;
            width: 100%;
            .nav{
                margin-top:440px;
                margin-left: 65%;
            }
            .main{
            &>:nth-child(1){
                
            }
            &>:nth-child(2){
                width: 50%;  
                margin-left:2%; 
                p{
                    max-height: 96px;
                }          
            }
            img{
                
            }
            dd{
                overflow: hidden;
            }
            dt{
                overflow:hidden;
                p{
                    height: 14px ;
                }
            }
            }
        }
    }
    .page{
        .layer{
            .list{
                display: block;
                margin: 0 auto 70px auto;
                width: 220px;
            }
        }
    }
}
@media  (max-width:800px){
    .layer{
        width: 90%;
    }
    .section{
        .content{
            float: none;
            display: block;
            width: 100%;
            margin-top: 440px;
            .nav{
                float: none;
                display: block;
                margin-left: 40%;
                
            }
            .main{
                width: 90%;
            &>:nth-child(1){
                float: none;
                display: block;
                width: 100%;
                margin: 0 auto;
            }
            &>:nth-child(2){
                float: none;
                display: block;
                width: 100%;  
            }
            img{
                height: 100%;
                width: 100%;
            }
            dd{
                overflow: hidden;
            }
            }
        }
    }
    .page{
        .layer{
            .list{
                display: block;
                margin: 0 auto 70px auto;
                width: 220px;
            }
        }
    }
}

@media (max-width:1500px){
  .footer .footer-left{
    float:none;
    overflow: hidden;
  }
  .footer .footer-contact{
    float:none;
    margin:0 auto;
    width: 450px;
  }
}
@media (max-width:1280px){
  .footer .footer-logo{
    float:none;
    display: block;
    margin:0 auto;
  }
  .footer .footer-nav{
    float:none;
    margin:8px 0;
    text-align: center;
  }
  .footer .footer-nav li{
    float:none;
    display:inline-block;
  }
}
@media (max-width:1100px){
  .footer .footer-left .footer-logo{
    float:none;
    margin:0 auto;
  }
  .footer .footer-left .footer-nav{
    float:none;
    margin:8px 0;
    text-align: center;
  }
  .footer .footer-left .footer-nav li{
    float:none;
    display:inline-block;
  }
}
@media (max-width:800px){
    .footer .footer-left .footer-nav li a{
        border: 0;
        padding: 8px;
    }
}

@media (max-width:500px){
    .footer .footer-contact{
        width: 100%;
    }
    .footer .footer-contact p{
        float: none;
        margin: 0 auto;
    }
    .footer .footer-contact > :nth-child(3){
        float: left;    
    }
    .footer .footer-contact > :nth-child(2){
       float: right;
       margin-right: 50px;
    }
}
